body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s, background 0.3s;
  background: white;
}

.banner {
  height: 300px;
  background: url('../assets/images/banner.jpg') center/cover fixed;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.card h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
